body{
    background-image: linear-gradient(to bottom right, rgb(255, 89, 0), rgb(187, 0, 255));
    /*display:flex;
    justify-content: center;*/
    min-height: 100vh;
}

#mainContainer{
    display:flex;
    justify-content: center;
    margin-top:100px;
    column-gap: 20px;
    width: fit-content;
    margin-left:auto;
    margin-right:auto;
}

/*~~~~~~~~~~CSS for to do list~~~~~~~~~~*/
h1,h2,h3,h4,h5,p,button,input{
    font-family: 'Candal';
    color:white;
    margin:0px;
    padding:0px;
}

#toDoContainer{
    display:flex;
    flex-direction: column;
    gap:10px;
    border:2px solid white;
    padding:20px;
    border-radius: 10px;
    min-height:150px;
}

#toDoTitle{
    text-align: center;
}

#inputButtonContainer{
    display:flex;
    flex-direction: row;
    gap:5px;
}

#buttonContainer{
    display: flex;
    justify-content: center;
}

#taskContainer{
    display:flex;
    flex-direction:column;
    gap:5px;
}

.newTask{
    cursor: pointer;
}

.done{
    text-decoration: line-through;
    opacity: 0.5;
}

button,input{
    color:black;
    border-radius: 3px;
}

.toDoInput{
    width:300px;
    
}

/*~~~~~~~~~~CSS for timer~~~~~~~~~~*/
#timerContainer{
    display:flex;
    flex-direction: column;
    gap:10px;
    border:2px solid white;
    padding:20px;
    border-radius: 10px;
    height:150px;
    width:250px;
}

#timerTitle{
    text-align: center;
}

#timeNow{
    text-align: center;
}

#timerInputContainer{
    display:flex;
    justify-content:center;
}

#buttonContainer{
    display:flex;
    justify-content: center;
}

.timerInput{
    width:100px;
    border-radius: 3px;
}

.hidden{
    display:none;
}

.shown{
    display:block;
}

/*~~~~~CSS for mobile view~~~~~*/
@media (max-width: 700px){
    #mainContainer{
        margin-top:50px;
    }
    #toDoContainer{
        display:flex;
        flex-direction: column;
        justify-content: center;
        gap:10px;
        border:2px solid white;
        padding:20px;
        border-radius: 10px;
        height:fit-content;
    }
    #toDoTitle{
        text-align: center;
    }
    #inputButtonContainer{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:5px;
    }
    #timerContainer{
        display:none;
    }
}